@page
@model NorthwindWeb.Pages.CustomerDetailModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1 class="display-2">Customer Detail</h1>

<div class="row">
    <div class="col-md-6 h5">Company Name</div>
    <div class="col-md-6">@Model.Customer.CompanyName</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Contact Name</div>
    <div class="col-md-6">@Model.Customer.ContactName</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Contact Title</div>
    <div class="col-md-6">@Model.Customer.ContactTitle</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Address</div>
    <div class="col-md-6">@Model.Customer.Address</div>
</div>

<div class="row">
    <div class="col-md-6 h5">City</div>
    <div class="col-md-6">@Model.Customer.City</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Region</div>
    <div class="col-md-6">@Model.Customer.Region</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Postal Code</div>
    <div class="col-md-6">@Model.Customer.PostalCode</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Country</div>
    <div class="col-md-6">@Model.Customer.Country</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Phone</div>
    <div class="col-md-6">@Model.Customer.Phone</div>
</div>

<div class="row">
    <div class="col-md-6 h5">Fax</div>
    <div class="col-md-6">@Model.Customer.Fax</div>
</div>